body {
  filter: brightness(110%) saturate(110%);
}

.marketplace {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
  margin: 0 auto;
  max-width: 1200px;
}

.series {
  margin-bottom: 20px;
}

.series h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.sets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 0 20px;
}

.set {
  flex: 0 0 calc(25% - 20px);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.set:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.set img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: contain;
}

.set p {
  font-size: 18px;
  color: #555;
  margin-bottom: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(25% - 20px);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card p {
  font-size: 16px;
  color: #555;
}

.legals {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}
