.userPageContainer {
  display: flex;
  flex-direction: column; /* Column direction to align filter bar on top */
  align-items: center;
  padding-top: 20px;
}

.filterBar {
  width: 100%;
  max-width: 1200px; /* Same max-width as cardsContainer */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.filterBar button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filterBar button:focus,
.filterBar button:hover {
  background-color: #e0e0e0;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap; /* Wrap items to form multiple lines */
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.singleCard {
  flex: 0 0 calc(25% - 10px); /* Adjust the width for 4 items per row minus the gap */
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px; /* Add bottom margin for spacing between rows */
}

.cardImage {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.singleCard > p {
  font-size: 14px;
  text-align: center;
  color: #333;
}
