body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: brightness(110%) saturate(110%);
  margin: 0;
  font-family: 'Arial', sans-serif; /* Vous pouvez choisir la police que vous préférez */
}

.card-element {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

body:hover {
  filter: brightness(130%) saturate(110%);
}

.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-container .parallax-div {
  position: relative;
  height: 200%;
  transform-style: preserve-3d;
  background: url("/background.jpg");
  background-size: cover;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center; /* Centre le texte */
}

.loginButton {
  padding: 12px 24px;
  margin-top: 15px; /* Ajoutez une petite marge en haut */
  background-color: #fddb3a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Texte en gras */
}

.loginButton:hover {
  background-color: #fcbf09;
}

.welcomeMessage {
  margin-bottom: 20px;
  font-size: 32px; /* Augmente la taille du texte */
  font-weight: bold;
  color: #333; /* Couleur de texte foncée */
}
.userPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
}

.welcomeMessageContainer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
